.h-center-aligner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.v-center-aligner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.vh-center-aligner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.h-space-between-aligner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.v-space-between-aligner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.flex-remain-space {
  flex: 1;
}

.flex-row-aligner {
  display: flex;
  flex-direction: row;
}

.flex-column-aligner {
  display: flex;
  flex-direction: column;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.abs-pos {
  position: absolute;
}

.rel-pos {
  position: relative;
}

.z-idx-1 {
  z-index: 1;
}